:root {
   --accent-color: #D59D40;
   --black: #000000;
   --dark-gray: #464646;
   --black-light: #0D0A09;
   --white: #FFFFFF;
   --gray: #BEBEBE;
   --beige: #F9F4EC;
   --beige-light: #FBF5EC;
}



